.purple-light{
  background-color: #F6F6FE;
}
.main-color{
  /* background-color: rgb(90,53,245); */
  background-color: #475ee1;
  /* background-color: white; */
  /* 71, 94, 225 */
  color: white;
}

.main-color-text{
  color: rgb(71, 94, 225);
}

.dark-blue-text{
  color: #2E2B5C
}

.inter{
  font-family: 'Inter', sans-serif;
}

.spacing-3{
  letter-spacing: -0.03em;
}

.spacing-5{
  letter-spacing: -0.05em;
}

.secondary-color{
  /* 107, 73, 246 */

  background-color: rgb(105, 123, 225);
  /* background-color: rgb(107, 73, 246); */
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fbfbff; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f0eded; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e2e2e9; 
}






